body,
html {
  width: 100%;
  height: 100%; 
}

body {
	background-image: url(country_road_hill-wallpaper-5120x2880.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	color: rgba(255,255,255,0.5);
	font-size: 5em;
	margin-top: 10%;
}

div {
	font-family: 'Gaegu', cursive;
}


.btn-primary {
	display: absolute;
	bottom: 50px;
	left: 44.5%;
	background-color: rgba(0,100,255,0.3); 
	padding: 0.75em;
	font-size: 1.3em;
	border-radius: 10px;
}

.btn-primary:hover {
	/*color: black;*/
	background-color: rgba(141, 212, 0,0);
	border-color: rgba(0,0,0,0)
}